{% extends "base.html" %}
{% load i18n avatar_tags %}
{% block extra_head %}
      <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
{% endblock %}
{% block header %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="row nav-top">
        <div class="span7">
          <a href="{% url "home" %}">
            <img src="{{ STATIC_URL }}/img/RiskInfo_Logo.png">
          </a>
        </div>
        <div class="span2 logos-lk">
          <a href="http://www.gov.lk/">
            <img src="{{ STATIC_URL }}/img/Gov_Logo.png">
          </a>
          <a href="http://www.dmc.gov.lk/">
            <img src="{{ STATIC_URL }}/img/DMC_Logo.png">
          </a>
        </div>
          <div class="span3">
            <div class="nav-collapse pull-right">
                <div class="pull-right">
                  <ul class="nav pull-right account-bar">
            {% if user.is_authenticated %}
                  <li class="user-avatar">
                    {% avatar user 20 %}
                  </li>
                  <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      {{ user.username }}
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ user.get_profile.get_absolute_url }}"><i class="icon-user"></i> {% trans "Profile" %}</a></li>
                      {% if user.is_staff %}
                        <li><a href="{% url "admin:index" %}"><i class="icon-cog"></i> {% trans "Admin" %}</a></li>
                      {% endif %}
                      {% if perms.announcements.can_manage %}
                        <li><a href="{% url "announcements_list" %}"><i class="icon-bullhorn"></i> {% trans "Announcements" %}</a></li>
                      {% endif %}
                      {% if user.is_superuser %}
                        <li><a href="{{ GEOSERVER_BASE_URL }}"><i class="icon-globe"></i> {% trans "GeoServer" %}</a></li>
                      {% endif %}
                      <li><a href="{% url "recent-activity" %}"><i class="icon-fire"></i> {% trans "Recent Activity" %}</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url "account_logout" %}"><i class="icon-off"></i> {% trans "Log out" %}</a></li>
                    </ul>
                  </li>
                  <li class="divider-v">|</li>
                  <li class="actions">
                    <a href="{% url "data_upload" %}" rel="tooltip" title="{% trans 'Upload' %}"><i class="icon-upload-alt"></i></a>
                    <a href="{% url "help" %}" rel="tooltip" title="{% trans 'Help' %}"><i class="icon-question-sign"></i></a>
                  </li>
                {% else %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Sign in" %}</a>
                      <ul class="dropdown-menu">
                        <li>
                            <form action="{% url "account_login" %}" method="post" class="sign-in">
                                {% csrf_token %}
                                <label for="id_username">{% trans "Username" %}:</label>
                                <input id="id_username" name="username" type="text" />
                                <label for="id_password">{% trans "Password" %}:</label>
                                <input id="id_password" name="password" type="password" />
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    {% trans "Remember Me" %}
                                </label>
                                <button type="submit" class="btn pull-right">{% trans "Sign in" %}</button>
                            </form>
                        </li>
                      </ul>
                    </li>
                    {% if REGISTRATION_OPEN %}
                      <li class="navbar-text">{% trans "or" %}</li>
                      <li><a href="{% url "account_signup" %}">{% trans "Register" %}</a></li>
                    {% endif %}
                    <li class="divider-v">|</li>
                    <li class="actions">
                        <a href="{% url "help" %}" rel="tooltip" title="help"><i class="icon-question-sign"></i></a>
                    </li>
                {% endif %}
                </ul>
            </div>
          </div> 
<!--           <div class="pull-left">
            Languages:&nbsp;
            <a class="language" data-language="en">English</a>
            <a class="language" data-language="si">සිංහල</a>
            <a class="language" data-language="ta">தமிழ்</a>
          </div> -->
                          {% if csrf_token != "NOTPROVIDED" %}
          {% get_current_language as LANGUAGE %}
        
  <div class="pull-right">
    <form method="post" action="/i18n/setlang/" class="languages">
    {% csrf_token %}
    <input type="hidden" name="language" value="en"/>
    <input id="language" type="submit" value="English"/>
    </form>
    <form method="post" action="/i18n/setlang/" class="languages">
    {% csrf_token %}
    <input type="hidden" name="language" value="si"/>
    <input id="language" type="submit" value="සිංහල"/>
    </form>
    <form method="post" action="/i18n/setlang/" class="languages">
    {% csrf_token %}
    <input type="hidden" name="language" value="ta"/>
    <input id="language" type="submit" value="தமிழ்"/>
  </form>
  </div>

    {% endif %}
        </div>
       </div>
       <div class="row nav-box">
        <div class="span10">
          <nav class="main-nav">
            <ul>
              <li id="nav_home">
                <a href="{% url "home" %}">{% trans "Home" %}</a>
              </li>
              <li id="nav_data">
                <a href="{% url "layer_browse" %}">{% trans "Layers" %}</a>
              </li>
              <li id="nav_maps">
                <a href="{% url "maps_browse" %}">{% trans "Maps" %}</a>
              </li>

              {% if DOCUMENTS_APP %}
              <li id="nav_documents">
                <a href="{% url "documents_browse" %}">{% trans "Documents" %}</a>
              </li>
              {% endif %}
              <li id="nav_people">
                <a href="{% url "profile_browse" %}">{% trans "People" %}</a>
              </li>
              <li id="nav_search">
                <a href="{% url "advanced_search" %}">{% trans "Search" %}</a>
              </li>
              {% block extra-nav %}{% endblock %}
            </ul>
          </nav>
        </div>
        <div class="span2">
          <ul class="social">
              <li><a href="http://www.facebook.com/sharer.php?u=http://{{ request.get_host }}{{ request.get_full_path }}" class="fb">facebook</a></li>
              <li><a href="https://twitter.com/share?url=http://{{   request.get_host }}{{ request.get_full_path }}" class="tw">twitter</a></li>
              <li><a href="https://plusone.google.com/_/ 1/confirm?hl=en&url=http://{{ request.get_host }}{{ request.get_full_path }}" class="gp">google+</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block footer %}
<footer class="footer">
  <div class="footercontent">
  <div class="container">
    <div class="row">
        <div class="pull-left">
           {% trans "Powered by" %} {% trans "GeoNode" %} <a href="http://geonode.org">{{VERSION}}</a>
            <br> <span>{% trans 'Need help' %} <a href="http://geonode.github.com/workshops/user">{% trans 'getting started?' %}</a></span>
            <br> {% trans "For" %} <a href="{% url "developer" %}">{% trans "Developers" %}</a>
        </div>
        <div class="pull-right">
          <p style="float:left">Partners</p>
          <div class="separator"></div>
          <a href="http://www.gfdrr.org/">
            <img src="{{ STATIC_URL }}img/gfdrr_logo.png">
          </a>
          <a href="http://www.worldbank.org/">
            <img src="{{ STATIC_URL }}img/WB_logo.png">
          </a>
          <a href="http://www.undp.lk/default.aspx">
            <img src="{{ STATIC_URL }}img/UNDP_logo.png">
          </a>
        </div>
<!--         <div class="pull-right">
        {% if csrf_token != "NOTPROVIDED" %}
          {% get_current_language as LANGUAGE %}
          <form class="form-inline" action="/i18n/setlang/" method="post">
          {% csrf_token %}
            <label>{% trans "Language" %}</label>
            <select class="input span2" name="language" onchange="javascript:form.submit()">
              {% for lang in LANGUAGES %}
              <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                {{ lang.1 }}
              </option>
              {% endfor %}
            </select>
          </form>
        {% endif %}
        </div> -->
      </div>
  </div>
  </div>
</footer>
{% endblock %}
