/*
body {
    background: #17375e;
 }*/

.navbar .navbar-inner {
	background: #17375e;
}

.nav-top {
    padding-top:10px;
    padding-bottom: 10px
}

.logos-lk {
    padding-left:40px;
}

.content-wrap {
    margin-top: 10px;
}

footer.footer {
	height: 100px;
	background: #17375e;
}

footer.footer img {
    margin-left: 12px;
  }

footer .footercontent {
	width:90%;
	margin: 0 auto;
	border-top: 1px solid white;
	padding-top: 10px;
}

footer.footer .separator {
	border-left:1px solid #fff;
	height:60px; 
	float:left; 
	margin-left:12px; 
	margin-right:10px;
}

footer.footer a {
	color: #31AEEE;
}